@{
    var controllerName = this.ViewContext.RouteData.Values["controller"]?.ToString();
    var list = new[]
    {
        new { Controller = "Main", Action = "Index", Text = "View By Category" },
    };
}

@foreach(var e in list)
{
<text>
    <li><a asp-area="User" asp-controller="@e.Controller" asp-action="@e.Action" class="@(e.Controller == controllerName ? "activeSubMenu" : "")">@e.Text</a></li>
</text>
}
